@{
    ViewData["Title"] = "Index";
}

<div>
    <h3>TPAhorcado, Home, Privacy</h3>
</div>
    <h1>Para jugar presione</h1>
    <a href='@Url.Action("juego", "Home")'>Aquí. </a>
<footer>
    <h3>© 2025 - TPAhorcado - Privacy</h3>
</footer>