@{
    ViewData["Title"] = "Jugar";
}
<script src="~/js/juego.js" defer></script>

<main>
  <h2>Ahorcado</h2>

  <input type="hidden" id="palabraServer" value="@ViewBag.Palabra" />
  <div>
    <strong>Palabra:</strong>
    <p id="palabra"></p>
  </div>

  <div>
    <strong>Intentos:</strong>
    <p id="intentos">0</p>
  </div>

  <div>
    <strong>Letras usadas (fallidas):</strong>
    <p id="usadas"></p>
  </div>

  <div id="msg"></div>

  <hr />

  <div>
    <label>Ingresar letra:</label>
    <input type="text" id="entrada" maxlength="1" />
    <button id="btnLetra" type="button">Arriesgar letra</button>
  </div>

  <div>
    <label>Arriesgar palabra completa:</label>
    <input type="text" id="entradaPalabra" />
    <button id="btnPalabra" type="button">Arriesgar palabra</button>
  </div>

  <div>
    <a id="btnWin"  href="#" style="display:none;">Terminar (Ganaste)</a>
    <a id="btnLose" href="#" style="display:none;">Terminar (Perdiste)</a>
  </div>

  <div>
    <a href='@Url.Action("Index","Home")'>Volver al inicio</a>
  </div>
</main>

<script src="~/js/site.js"></script>
